{
  "configurations": [
    {
      "name": "Linux",                            
      "includePath": [
        "${workspaceFolder}/include",                    
        "${workspaceFolder}/third_party/imgui",          
        "${workspaceFolder}/third_party/imgui/backends",
        "${workspaceFolder}/third_party/stb",
        "${workspaceFolder}/core/include"
      ],
      "defines": [],                                      
      "compilerPath": "/usr/bin/g++",                     
      "cStandard": "c23",                                 
      "cppStandard": "c++20",                             
      "intelliSenseMode": "gcc-x64"                       
    }
  ],
  "version": 4
}
